<script async 
src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5670541810503551"
     crossorigin="anonymous"></script>

<!-- Controls Row -->
<div class="controls-row">
  <h2 style="color: black;">Forty Thieves</h2>
  <button (click)="startGame()">🃏 New Game</button>
  <button (click)="goBack()">Back to Main</button>
  <strong class="timer">
        Time: {{ formattedTime }}
  </strong>
 </div>

<!-- Game Container -->
<div class="forty-thieves-game" >
  <div style="color: white; background-color: green; font-weight: 20px;" >
    <strong >
      Place aces on the corresponding suit of foundation pile.
    </strong>
  </div>

  <!-- End Messages -->
  @if(solved) {
    <div class="end-message">
      <div>
        🎉 Congratulations! 
        <br>
        <span style="font-size: 20px;">You won in {{formattedTime}} minutes!</span>
      </div>
    </div>
  }

  @if(checkGameOver() && viewReady) {
    <div class="end-message">
      <div>
        No Cards Left
        <br>
        <h2>Game Over</h2>
        <br>
        <button class="new-game" (click)="startGame()">New Game</button>
      </div>
    </div>
  }

  <!-- Top Row: Stock/Waste left, Foundations right -->
  <div class="top-row">
    <!-- Left: Stock & Waste -->
    <div class="stock-waste-row">
      <div class="stock" (click)="drawFromStock()">
        {{ piles.stock.cards.length }} left
      </div>

      <div class="waste"
           [attr.data-pile-id]="piles.waste.id"
           [attr.data-pile-name]="piles.waste.name"
           (click)="dropOnPile(piles.waste)">
        @if(piles.waste.top()){
          <div class="card-waste" 
               [class.facedown]="!piles.waste.top()?.faceUp"
               [class.red]="piles.waste.top()?.suit === '♥' || piles.waste.top()?.suit === '♦'"
              [class.black]="piles.waste.top()?.suit === '♠' || piles.waste.top()?.suit === '♣'"
               (click)="startDrag(piles.waste, piles.waste.top())">
              @if (piles.waste.top()?.faceUp) {
                @if (piles.waste.top()?.suit == '♥' || piles.waste.top()?.suit == '♦'){
                  <div class="rank" style="color: red;">
                    {{
                      piles.waste.top()?.rank === 1 ? 'A' :
                      piles.waste.top()?.rank === 11 ? 'J' :
                      piles.waste.top()?.rank === 12 ? 'Q' :
                      piles.waste.top()?.rank === 13 ? 'K' :
                      piles.waste.top()?.rank
                    }}
                  </div>
                }
                @if (piles.waste.top()?.suit == '♠' || piles.waste.top()?.suit == '♣'){
                     <div class="rank" style="color: black">
                    {{
                      piles.waste.top()?.rank === 1 ? 'A' :
                      piles.waste.top()?.rank === 11 ? 'J' :
                      piles.waste.top()?.rank === 12 ? 'Q' :
                      piles.waste.top()?.rank === 13 ? 'K' :
                      piles.waste.top()?.rank
                    }}
                  </div>
                }
                  @if (piles.waste.top()?.suit == '♥' || piles.waste.top()?.suit == '♦'){
                    <div class="suit" style="color: red">{{ piles.waste.top()?.suit }}</div>
                  }
                  @if(piles.waste.top()?.suit == '♠' || piles.waste.top()?.suit == '♣'){
                      <div class="suit" style="color: black">{{ piles.waste.top()?.suit }}</div>
                  }

                } 

          </div>
        }
      </div>
    </div>

    <!-- Right: Foundation Piles -->
    <div class="foundations-row">
      @for(p of piles.foundation; track trackByIndex($index, p); let i = $index){
        <div class="foundation-pile"
             [attr.data-pile-id]="p.id"
             [attr.data-pile-name]="p.name"
             (click)="dropOnPile(p)">
          {{p.suit}}
          @if(p.top()){
            <div class="card"
              [class.red]="p.suit === '♥' || p.suit === '♦'"
              [class.black]="p.suit === '♠' || p.suit === '♣'"
            >{{ p.top()?.display }}</div>
          }
        </div>
      }
    </div>
  </div>

  <!-- Tableau -->
  <div class="tableau-row">
    @for(p of piles.tableau; track trackByIndex($index, p); let i = $index){
      <div class="pile tableau-pile"
           [attr.data-pile-id]="p.id"
           [attr.data-pile-name]="p.name"
           (click)="dropOnPile(p)">
        @for(card of p.cards; track trackByIndex($index, card); let j = $index){
          <div class="card-tableau"
               [class.facedown]="!card.faceUp"
               [class.red]="card.suit === '♥' || card.suit === '♦'"
               [class.black]="card.suit === '♠' || card.suit === '♣'"
               (click)="startDrag(p, card)">
                @if (card.faceUp) {
                  <div class="rank">
                    {{
                      card.rank === 1 ? 'A' :
                      card.rank === 11 ? 'J' :
                      card.rank === 12 ? 'Q' :
                      card.rank === 13 ? 'K' :
                      card.rank
                    }}
                  </div>
                  <div class="suit">{{ card.suit }}</div>
                } 
          </div>
        }
      </div>
    }
  </div>
</div>
