.foundations, .tableau {
  margin-bottom: 10px;
}


.pile > div {
  margin: 2px 0; /* spacing between cards */
}



.pile > div {
  margin-top: 20px;
}

.waste .card { /* optionally use .pile > div */
  font-weight: bold;
}

.stock {
   position: relative;
  width: 60px;
  height: 100px;
  border: 1px solid black;
  border-radius: 6px;
  background-image: url('../../assets/green-2847123_1280.jpg');
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background 0.2s, border-color 0.2s;
  color: white;
}

.waste {
   position: relative;
  width: 60px;
  height: 100px;
  border: 1px solid black;
  border-radius: 6px;
  background-image: url('../../assets/green-2847123_1280.jpg');
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background 0.2s, border-color 0.2s;
}

.top-row {
  display: flex;
  justify-content: space-between; /* left/right spacing */
  align-items: flex-start;
  margin: 1rem;
  width: 100%;
}



.stock-waste-row {
  display: flex;
  gap: 0.5rem; /* space between stock and waste */
}

.foundations-row {
  display: flex;
  gap: 0.5rem; /* space between foundation piles */
}


.card:first-child {
  margin-top: 0;
}

.card-tableau:first-child {
  margin-top: 0;
}

.tableau-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 1rem;
}


.foundation-pile {
  width: 60px;
  height: 100px;
  color: white;
  border: 1px solid black;
  border-radius: 6px;
  background-image: url('../../assets/green-2847123_1280.jpg');
  padding: 4px;
  float: right;
  transition: background 0.2s, border-color 0.2s;
}

.card {
  width: 48px;
  height: 70px;
  margin-top: -40px;
  border: 1px solid #222;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: -40px;
  z-index: auto;
  cursor: grab;
  background: #fff;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

.card.facedown {
  background: repeating-linear-gradient(
    45deg,
    #444 0 4px,
    #777 4px 8px
  );
  color: transparent;
  cursor: default;
}

/* suit colors */
.card.red {
  color: #d32f2f;
}

.card.black {
  color: #222;
}


.card-tableau {
  width: 48px;
  height: 70px;
  margin-top: -40px;
  border: 1px solid #222;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: -40px;
  z-index: auto;
  cursor: grab;
  background: #fff;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

.card-tableau.facedown {
  background: repeating-linear-gradient(
    45deg,
    #444 0 4px,
    #777 4px 8px
  );
  color: transparent;
  cursor: default;
}

/* suit colors */
.card-tableau.red {
  color: #d32f2f;
}

.card-tableau.black {
  color: #222;
}

.pile {
  position: relative;
  width: 60px;
  height: 150px;
  border: 1px solid black;
  border-radius: 6px;
  background-image: url('../../assets/green-2847123_1280.jpg');
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background 0.2s, border-color 0.2s;
}

.pile.hovered {
  background: #e3f2fd;
  border-color: #64b5f6;
}

.forty-thieves-game {
  background: url('../../assets/jeans-1161035_1280.jpg');
  min-height: 100vh;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dragged-card {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  width: 65px;
  height: 90px;
  border-radius: 6px;
  background: white;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}

.end-message {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: center;

  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;

  border-radius: 20px;
  overflow: hidden;
  background: url('../../assets/board-19208_1280.jpg') center / 0% no-repeat,
   url('../../assets/board-19208_1280.jpg') center / cover no-repeat;
  
  z-index: 9998;
  pointer-events: none;
}

.end-message > * {
  pointer-events: auto;
}

.new-game {
  background-color: #4CAF50;
  color: white;
  margin-top: 10px;
  width: 75%;
  font-size: 30px;
    border-radius: 15px;
}

.back-button {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 10000;
}

.new-game-title {
float: left;
}

  .controls-row {
    display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: nowrap; /* prevent wrapping on desktop */
  }

.back {
float: right;
}

.title {
  margin-left: 30%;
  margin-right: 30%;
}


 .timer {

  background-color: white;
  font-size: 12px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  padding: 5px 8px;
  position: relative;
  width: 35%;
  margin-top: 10px;
  margin-left: 50%;
}

@media (max-width: 768px) {
 
}


@media (max-width: 485px) {
  .end-message {
    margin-top: 200px;
    height: 40%;
    background-size: 100%;
    background: url('../../assets/board-19208_1280.jpg') center / 0% no-repeat,
   url('../../assets/board-19208_1280.jpg') center / cover no-repeat;
  
  }

  .top-row {
     display: inline;
    justify-content: space-between; /* left/right spacing */
    align-items: normal;
    margin: 2rem;
    margin-left: 4%;
    width: 90%;
  }

  .timer {
    margin-left: 30%;
  }

  .stock-waste-row {
    display: flex;
    gap: 0.5rem; /* space between stock and waste */
    margin-bottom: 2rem;
  }

  .tableau-row {
    display: inline-flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 2rem;
    width: 100%;
    height: 200px;
  }

.card {
  width: 20px;
  height: 70px;
  margin-top: -40px;
  border: 1px solid #222;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: -40px;
  z-index: auto;
  cursor: grab;
  background: #fff;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

.card-tableau {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  width: 28px;
  height: 60px;
  border-radius: 6px;
  background: white;
  border: 1px solid #222;
  font-weight: bold;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  cursor: grab;
  padding: 3px 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.rank {
  font-size: 14px;
}

.suit {
  font-size: 12px;
}

.tableau-pile {
  position: relative;
  width: 45px;
  height: 300px;
  border: 1px solid black;
  border-radius: 6px;
  background-image: url('../../assets/green-2847123_1280.jpg');
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background 0.2s, border-color 0.2s;
}

  .forty-thieves-game {
    position: fixed;
    top: 10%;
    left: -4%;
    width: 100%;
    height: 80%;
  }
  .new-game {
     margin-top: 2px;
    width: 70%;
    height: 50px;
    font-size: 30px;
    border-radius: 15px;
  }
}




