 .title-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap; 
    gap: 1rem;
    width: 100%;
    color: white;
    font-weight: 5px;
  }

  .controls {
    width: 50%;
    margin-right: .5rem;
  }

  .dots-boxes {
    text-align: center;
    margin-top: 20px;
    background: url('../../assets/suede-316431_1280.jpg');
    height: 800px;
  }

canvas {
  border: 2px solid #333;
  margin: 10px auto;
  display: block;
  background: #fafafa;
  border-radius: 8px;
  background-color: brown;
}

.scoreboard {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

.scoreboard span {
  padding: 6px 10px;
  border-radius: 6px;
  background: #ddd;
  transition: background 0.3s;
}

.scoreboard span.active {
  background: #b3e6b3;
  font-weight: bold;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background: #4caf50;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #43a047;
}

.winner {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #2e7d32;
}

/* --- SOLVED MESSAGE --- */
.solved-message {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  border-color: white;
  color: darkgoldenrod;
  text-align: center;
  background: rgba(0,0,0,0.5);
 
  z-index: 9998;
  pointer-events: none;
}

.solved-message > * {
  pointer-events: auto;
}

.new-game {
  font-size: 12px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  padding: 5px 8px;
  position: relative;
  z-index: 9999;
}

  
