.crossword {
  border-collapse: collapse;
  margin-bottom: 20px;
}

.crossword td {
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  position: relative;
}

.crossword input {
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  outline: none;
}

.black {
  background-color: #333;
}

.clue-number {
  position: absolute;
  top: 1px;
  left: 2px;
  font-size: 10px;
  color: #000;
}

.selected input {
  background-color: #cff;
}
